{% include "header.html" %}


<!-- Start -->
 <div class="px-3 py-0 my-5 text-center border-bottom">
    <h2 class="display-4 fw-bold text-body-emphasis">Data Scientist | Python Developer</h2>

    <div class="col-lg-6 mx-auto my-3">
      <h4 class="fw-dark">Transforming data into dynamic AI Powered Experiences.❤️</h4>
    </div>

    <div class="overflow-hidden" style="margin-top: 3%; max-height: 500px;">
      <div class="container px-5">
        <img src="../static/assests/img/data_scientist_2.png" class="img-fluid mx-auto d-block" alt="Data Scientist Illustration">
      </div>
    </div>
  </div>  

<!-- 
<div class="px-3 py-0 my-5 text-center border-bottom mx-auto" >
    <h2 class="display-4 fw-bold text-body-emphasis" >Data Scientist | Python Developer</h2>

    <div class="col-lg-6 mx-auto" style="margin-top: 1%; margin-bottom: 1%;">
      <h4 class="fw-dark">Transforming data into dynamic AI Powered Experiences.❤️</h4>
    </div>

    <div class="overflow-hidden" style="margin-top: 3%; max-height: 500px; ">
      <div class="container px-5">
        <img src="../static/assests/img/data_scientist_2.png" alt="">
      </div>
    </div>
</div> -->

<!-- About -->
  <!-- <section class="py-3 text-center container" >
    <div class="row py-lg-5 border-bottom">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-dark">Hi👋, I am Lingesh R, Nice to meet you.</h2>
        <p class="fw-dark">Curious and driven Data Science & AI enthusiast with strong foundations in Python, machine learning, and web development. Adept at building end-to-end intelligent systems and deploying ML models using Flask and FastAPI. Actively learning LLMs and passionate about applying AI for impactful real-world solutions.</p>
        <img src="../static/assests/img/LINGESH.png" alt="" style="max-height: 500px;">
      </div>
    </div>
  </section> -->
  <section class="py-3 text-center container">
    <div class="row py-lg-5 border-bottom">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-dark">Hi👋, I am Lingesh R, Nice to meet you.</h2>
        <p class="fw-dark">Curious and driven Data Science & AI enthusiast with strong foundations in Python, machine learning, and web development. Adept at building end-to-end intelligent systems and deploying ML models using Flask and FastAPI. Actively learning LLMs and passionate about applying AI for impactful real-world solutions.</p>
        <img src="../static/assests/img/LINGESH.png" class="img-fluid mt-3" style="max-height: 500px;" alt="Lingesh R">
      </div>
    </div>
  </section>


  <section class="py-3 text-center container border-bottom">
  <h3 class="mb-4">Languages and Tools:</h3>
  <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
    <!-- Programming Languages -->
    <a href="https://www.python.org/" target="_blank" rel="noreferrer">
      <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" width="40" height="40"/>
    </a>
    <a href="https://www.cprogramming.com/" target="_blank" rel="noreferrer">
      <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" alt="c" width="40" height="40"/>
    </a>
    <!-- Data Science -->
    <a href="https://numpy.org/" target="_blank" rel="noreferrer">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/31/NumPy_logo_2020.svg" alt="numpy" width="40" height="40"/>
    </a>
    <a href="https://pandas.pydata.org/" target="_blank" rel="noreferrer">
      <img src="https://raw.githubusercontent.com/devicons/devicon/2ae2a900d2f041da66e950e4d48052658d850630/icons/pandas/pandas-original.svg" alt="pandas" width="40" height="40"/>
    </a>
    <a href="https://scikit-learn.org/" target="_blank" rel="noreferrer">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg" alt="scikit_learn" width="40" height="40"/>
    </a>
    <a href="https://seaborn.pydata.org/" target="_blank" rel="noreferrer">
      <img src="https://seaborn.pydata.org/_images/logo-mark-lightbg.svg" alt="seaborn" width="40" height="40"/>
    </a>
    <a href="https://matplotlib.org/" target="_blank" rel="noreferrer">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Matplotlib_icon.svg" alt="matplotlib" width="40" height="40"/>
    </a>

    <!-- Machine Learning & AI -->
    <a href="https://www.tensorflow.org/" target="_blank" rel="noreferrer">
      <img src="https://www.vectorlogo.zone/logos/tensorflow/tensorflow-icon.svg" alt="tensorflow" width="40" height="40"/>
    </a>
    <a href="https://keras.io/" target="_blank" rel="noreferrer">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Keras_logo.svg" alt="keras" width="40" height="40"/>
    </a>
    <a href="https://opencv.org/" target="_blank" rel="noreferrer">
      <img src="https://www.vectorlogo.zone/logos/opencv/opencv-icon.svg" alt="opencv" width="40" height="40"/>
    </a>

    <!-- <a href="https://www.nltk.org/" target="_blank" rel="noreferrer">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Nltk_logo.png" alt="nltk" width="40" height="40"/>
    </a> -->
    <a href="https://spacy.io/" target="_blank" rel="noreferrer">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/SpaCy_logo.svg" alt="spacy" width="40" height="40"/>
    </a>
    <!-- <a href="https://radimrehurek.com/gensim/" target="_blank" rel="noreferrer">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Gensim_logo.svg" alt="gensim" width="40" height="40"/>
    </a> -->

    <!-- Tools -->
    <a href="https://postman.com" target="_blank" rel="noreferrer">
      <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman" width="40" height="40"/>
    </a>
    <a href="https://www.selenium.dev" target="_blank" rel="noreferrer">
      <img src="https://raw.githubusercontent.com/detain/svg-logos/780f25886640cef088af994181646db2f6b1a3f8/svg/selenium-logo.svg" alt="selenium" width="40" height="40"/>
    </a>

    <!-- Web Dev -->
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank" rel="noreferrer">
      <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg" alt="html" width="40" height="40"/>
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" rel="noreferrer">
      <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg" alt="css" width="40" height="40"/>
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer">
      <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40"/>
    </a>
    <a href="https://flask.palletsprojects.com/" target="_blank" rel="noreferrer">
      <img src="../static/assests/img/flask-horizontal.webp" alt="flask" width="80" height="40"/>
    </a>

    <!-- Databases -->
    <a href="https://www.microsoft.com/en-us/sql-server" target="_blank" rel="noreferrer">
      <img src="https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg" alt="mssql" width="40" height="40"/>
    </a>
    <a href="https://www.mysql.com/" target="_blank" rel="noreferrer">
      <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="40" height="40"/>
    </a>
    <a href="https://www.sqlite.org/" target="_blank" rel="noreferrer">
      <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="sqlite" width="40" height="40"/>
    </a>

      <!-- Engineering Tools -->
    <a href="https://www.mathworks.com/" target="_blank" rel="noreferrer">
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Matlab_Logo.png" alt="matlab" width="40" height="40"/>
    </a>


    <!-- Version Control & IDE -->
    <a href="https://git-scm.com/" target="_blank" rel="noreferrer">
      <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40"/>
    </a>
    <a href="https://code.visualstudio.com/" target="_blank" rel="noreferrer">
      <img src="https://cdn.worldvectorlogo.com/logos/visual-studio-code-1.svg" alt="vscode" width="40" height="40"/>
    </a>

  

    
    
    

    <!-- Jupyter & OS -->
    <a href="https://jupyter.org/" target="_blank" rel="noreferrer">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Jupyter_logo.svg" alt="jupyter" width="40" height="40"/>
    </a>
    
  </div>
  <br/>
</section>




<!-- Project -->














<div class="container my-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

    <!-- Project Card 1 -->
    <!-- Project Card 1: Potato and Tomato Leaf Disease Detection -->
<div class="col">
  <div class="card h-100 shadow-sm">
    <img src="../static/assests/img/leaf.png" class="card-img-top img-fluid w-100" alt="Leaf Disease Detection">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Potato and Tomato Leaf Disease Detection</h5>
      <div class="mt-auto text-center">
        <a href="https://github.com/Lingesh-7/Crop-Disease-Classifier" class="btn btn-outline-dark" target="_blank">
          <i class="bi bi-github"></i> GitHub
        </a>
      </div>
    </div>
  </div>
</div>


    <!-- Project Card 2 -->
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="../static/assests/img/v1.png" class="card-img-top img-fluid w-100" alt="Image Classification">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Image Classification Using Machine Learning</h5>
          <div class="mt-auto text-center">
            <a href="https://github.com/Lingesh-7/Image-Classification-Using-ML" class="btn btn-outline-dark" target="_blank">
              <i class="bi bi-github"></i> GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Card 3 -->
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="../static/assests/img/real.png" class="card-img-top img-fluid w-100" alt="Real Estate Prediction">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Real Estate Price Prediction</h5>
          <div class="mt-auto text-center">
            <a href="https://real-estate-prediction-ml.onrender.com/" class="btn btn-outline-primary" target="_blank">
              <i class="bi bi-box-arrow-up-right"></i> Live
            </a>
            <a href="https://github.com/Lingesh-7/Real-Estate-Prediction-ML" class="btn btn-outline-dark" target="_blank">
              <i class="bi bi-github"></i> GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Card 4 -->
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="../static/assests/img/memphis-ai-and-artificial-neural-networks.png" class="card-img-top img-fluid w-100" alt="News Tool">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">AI-Powered News Research Tool</h5>
          <div class="mt-auto text-center">
            <a href="https://github.com/Lingesh-7/News-Research-Tool-using-Langchain" class="btn btn-outline-dark" target="_blank">
              <i class="bi bi-github"></i> GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Card 5 -->
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="../static/assests/img/blog.png" class="card-img-top img-fluid w-100" alt="Blog Website">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">My Blog Website</h5>
          <div class="mt-auto text-center">
            <a href="https://github.com/Lingesh-7/MY-BLOG-WEBSITE" class="btn btn-outline-dark" target="_blank">
              <i class="bi bi-github"></i> GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Card 6 -->
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="../static/assests/img/bot.png" class="card-img-top img-fluid w-100" alt="Twitter Bot">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Twitter Bot</h5>
          <div class="mt-auto text-center">
            <a href="https://github.com/Lingesh-7/Twitter-News-Bot-for-Puducherry" class="btn btn-outline-dark" target="_blank">
              <i class="bi bi-github"></i> GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



{% include "footer.html" %}
